/* CSS declarations go here */

article {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

section {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  background: #c0c0c0;
  border-radius: 5px;
  width: 512px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  margin-top: -220px;
  opacity: 0;
}
body,
section.bespoke-slide {
  -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
  transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

section.bespoke-slide{
  //padding: 10px;
}

section.bespoke-active {
  opacity: 1;
  z-index: 1;
}
section.bespoke-inactive {
  pointer-events: none;
  z-index: 0;
}

.bespoke-progress-bar{
  margin-top: 12px;
  background: #F9B727;
  height: 4px;
}

.loading{
  display: none;
  text-align: center;
}

#finalslide{
  width: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
}