<template name='faq'>
{{>nav}}
<br/><br/>
<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>

  <h3>One Low Fee</h3>
  <p>Other advisors will charge more than 1% of your assets to manage your portfolio.</p>
  <p> We use technology to keep our costs low so for a flat 0.50% you will get:</p>
  <ul>
    <li>Customized investment portfolio</li>
    <li>No commissions</li>
    <li>Timely rebalancing</li>
    <li>Mobile Access</li>
    <li>First class client service</li>
  </ul>
  <br/>
   <a href="/analysis" class="btn btn-primary btn-lg">Try Now!</i></a>

    </div>
  </div>
</div>
<br/><br/><br/><br/>
{{>footer}}
</template>