<template name='footer'>
<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col">
        <div class="block contact-block"> 
          <!--@todo: replace with company contact details-->
          <h3>Contact Us</h3>
          <address>
          <!-- <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr> 212 966-1212</p> -->
          <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr> info@wealthyx.com</p>
          <p><abbr title="Address"><i class="fa fa-home"></i></abbr> 47 Murray Street, New York, NY 10007</p>
          </address>
        </div>
      </div>
      <div class="col-md-5 col">
        <div class="block">
          <h3>About Us</h3>
          <p>We believe that professional investment advice should be inexpensive and accessible to everyone. Using our experience as portfolio managers we designed software to offer the same investment strategies offered by the most sophisticated investment advisors and private wealth managers in the industry for a fraction of what they charge.</p>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="block newsletter">
          <h3>Newsletter</h3>
          <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
          <!--@todo: replace with mailchimp code-->
          <form role="form">
            <div class="input-group input-group-sm">
              <label class="sr-only" for="email-field">Email</label>
              <input type="text" class="form-control" id="email-field" placeholder="Email">
              <span class="input-group-btn">
              <button id="go" class="btn btn-primary" type="button">Go!</button>
              </span> </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="col-md-12">
          <p>Copyright 2014 &copy; WealthyX</p>
          <p>WealthyX LLC is an SEC registered Investment advisor. Securities in your account are protected up to $500,000. See <a target="_blank" href="http://sipc.org">sipc.org</a> for more details.</p>
          <p>Past performance is no guarantee of future results. Any historical returns, expected returns, or probability projections may not reflect actual future performance. All securities involve risk and may result in loss. We do not provide financial planning services to individual investors. The information contained in this site is not an offer, solicitation of an offer, or advice to buy or sell securities in jurisdictions where WealthyX is not registered.
          </p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline footer-menu">
            <!--<li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</template>