<template name="questionaire">
<style>
/* CSS declarations go here */


#presentation-container{
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  position: fixed;
  width: 100%;
  height: 100%;
}

#presentation1{
  background: url('theme/img/bg_diamond.png') left bottom repeat-x;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 200px;
}

article {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

section {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  background: #c0c0c0;
  border-radius: 5px;
  width: 512px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  /*margin-top: -220px; */
  margin-top: -160px;
  opacity: 0;
}
body,
section.bespoke-slide {
  -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
  transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

section.bespoke-slide{
  //padding: 10px;
}

section.bespoke-active {
  opacity: 1;
  z-index: 1;
}
section.bespoke-inactive {
  pointer-events: none;
  z-index: 0;
}

.bespoke-progress-bar{
  margin-top: 0px;
  background: #008792;
  height: 2px;
  position: fixed;
}

.loading{
  display: none;
  text-align: center;
}

#finalslide{
  position: absolute;
  width: 1000px !important;
  margin-left: -500px;
  left: 50%;
}

#questionairelogo{
  position: relative;
  top: 10px;
  left: 20px;
  z-index: 9999;
}

.questionaire-footer{
  background: #333;
s  color: #A2A2A2;
  color: rgba(255,255,255,.6);
  border-top: 2px solid #55a79a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.user-menu a.btn{
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
</style>

<div class='classic'>
  <span id='presentation-container'></span>
  <span id='presentation1'></span>
  <div class='container'><div class='row'><div class='col-xs-12'><a id='questionairelogo' href='/'><img src='logo1.png' /></a></div></div></div>
  <div style='position: absolute; width:100%; z-index: 9999'>
    <br/>
    {{>nav}}
  </div>
  <article id="presentation">
    {{#each questions}}
     <section>
      <h2>{{question}}</h2>
      <div>
        {{#each answers}}
        <div class="radio">
          <label>
            <input type="radio" name="as" value="{{point}}">
            {{answer}}
          </label>
        </div>
        {{/each}}
      </div>
      <button type="button" class="next btn btn-default btn-lg">Next</button>
      </section>
    {{/each}}

    <section>
      <h2>How much would you like to start investing?</h2>
      <br/>
      <input id="amount" type="text" class="form-control input-lg" placeholder="Enter Amount">
      <br/>
      <button type="button" class="finish btn btn-default btn-lg">Create my plan</button>
    </section>

    <section>
      <div class='loading'>
        <h1>Please wait while we create your investment portfolio...</h1>
        <br/>
        <img src='ajax-loader.gif'/>
      </div>
    </section>

    <section id="finalslide">
      {{> finalslide}}
    </section
    
  </article>
</div>
<div class='questionaire-footer'></div>
</template>

<template name='finalslide'>
  <div class='container'>
  {{#if finalyet}}
    <h2>Congratulations!  Here is your customized portfolio</h2>
    <br/>
  
    <div class='row'>
      <!-- <div class="col-xs-offset-1 col-xs-10 aboutyou"> -->
      <div class='col-xs-3'>
        <div>
        {{> aboutyou}}
        </div>
        <br/><br/>
      </div>

      <div class="col-xs-6">
        <div style='width: 400px'>
          <h3 style='text-align: center;'>Asset Allocation</h3>
          <div id="chart1"></div>
          <div id='tablee'></div>
        </div>

      </div>

      <div class="col-xs-3">
        <h4 style='text-align: center;'>Monthly Cost of Portfolio</h4>
        <br/>
        <table class='table' style='text-align: center;'>
          <tr>
            <td>Cost of ETFs</td>
            <td><b>$25</b></td>
          </tr>
          <tr>
            <td>Advisory Fee</td>
            <td><b>$42</b></td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td><b>$67</b></td>
          </tr>
        </table>
        <div style='text-align: center;'>
          <a href="/analysis" class="btn btn-primary btn-lg">Invest Now! <i class="fa fa-arrow-right"></i></a><br/><br/>
          <a href="#">Save Portfolio</a><br/><br/>
          <a href="#">Schedule a consult</a>
        </div>
      </div>

    </div>

<!--     <div class='row'>
      <div class="col-md-8 col-md-offset-2">
          <br/><br/><br/><br/>
          {{#if done}}
          <h4>Email Sent! Please check your inbox as soon as possible!</h4>
          {{else}}
          <h4>Please enter your email address to join something</h4>
          <br/>
          <div class="input-group input-group-lg">
            <input id="email" type="text" class="form-control" placeholder="Enter email address">
            <span class="input-group-btn">
              <button id='submit' class="btn btn-default" type="button">Submit</button>
            </span>
          </div>
          {{/if}}
          <br/><br/><br/><br/>
      </div>
    </div> -->
    <br/><br/><br/><br/>
  {{/if}}
  </div>
</template>

<template name='aboutyou'>
  <h4>Here's what we know about you,</h4>
  <br/>
  {{#with final}}
    <p>are <b>{{[0].answer}}</b> years old</p>
    <p>have <b>{{[1].answer}}</b> investment experience</p>
    <p>want to invest for <b>{{[2].answer}}</b></p>
    <p>are more likely to <b>{{[3].answer}}</b> after a significant decline in the stock</p>
    <p>have a new worth of <b>{{[4].answer}}</b></p>
    <p>with liquid assets of <b>{{[5].answer}}</b></p>
  {{/with}}
</template>